<%- include('partials/header') %> 
<%- include('partials/navbar') %> 
    
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
              About Restaurant
            </div>
            <div class="card-body" id="restData"></div>
        </div>

        <div class="card text-center">
            <div class="card-header">
              About User
            </div>
            <div class="card-body" id="userData"></div>
        </div>

        <div class="card-group">
            <div class="card1" id="orderedData"></div>
        </div>

        <div class="card text-center">
            <div class="card-header">
              Amount Details
            </div>
            <div class="card-body" id="totalPrice"></div>
        </div>
    </div>
    
    <script src="js/allData.js"></script>
<%- include('partials/footer') %> 